body{
	background-color:black;
	color:white
}

#fullscreen{
touch-action : none;
display:flex;
align-items:center;
justify-content:center;
heigh:100vh
}

#canvas{
	max-width:100%;
	max-height:100%;
	aspect-ratio:16 / 9
}
